body {
    background-color: beige;
}

h1 {
    color: black;
}
h3 {
    color: black;
}
p {
    color: rgb(84, 122, 247);
}

/* 4a. Pagination */
.back {
    margin-right: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: chartreuse;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
.back:hover {
    background-color: rgb(144, 231, 56);
    color: black;
}
.back:active {
    opacity: 0.5;
}

.next {
    margin-left: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: chartreuse;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
.next:hover {
    background-color: rgb(144, 231, 56);
    color: black;
}
.next:active {
    opacity: 0.5;
}

a {
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(36, 163, 218);
}
a:hover {
    color: aqua;
}

/* 4b. Stretch */
.stretch {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: chartreuse;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    transition: 600ms;
}
.stretch:hover {
    padding: 25px;
    padding-left: 45px;
    padding-right: 45px;
}

/* 4c. 3D Click */
.shadow {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;

    background-color: chartreuse;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    box-shadow: 4px 4px 5px rgba(8, 63, 14, 0.786);
}
.shadow:active {
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: none;
    margin-bottom: 0px;
}

/* 4d. Margin & Padding together */
.no {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 8px;
    padding-bottom: 8px;

    background-color: chartreuse;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;

    transition: padding 0.15s, margin 0.15s;
}
.no:hover {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;
    margin-right: 0px;
}