body {
    font-family: 'Space Mono', monospace;
    color: rgb(78, 77, 77);
    height: 3000px;
}

.bottomRight {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: black;
    color: whitesmoke;
}

.rightSidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 50px;
    width: 150px;

    background-color: olive;
}

.blackElement {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;

    background-color: black;
}