body {
    font-family: "Space Mono", monospace;
    color: rgb(78, 77, 77);
}

/* 8f. Recreate Facebook */
.colBP {
    width: 280px;
    height: 430px;

    margin: 10px;
    padding: 0px;

    box-shadow: 0px 2px 8px rgba(121, 132, 136, 0.775);
    display: inline-block;
}
.nini {
    width: 280px;
    height: 260px;
    object-fit: cover;

    size-adjust: 200px;
    margin: 0px;
    padding: 0px;
}
.name {
    padding: 0px;
    padding-left: 15px;

    margin: 0px;
    color: black;

    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}
.name:hover{
    color: rgb(63, 62, 62);
}
.mutualDiv {
    width: 280px;
    height: 45px;

    padding-top: 5px;
    padding-bottom: 5px;
}
.mutualPic {
    object-fit: cover;
    width: 35px;
    height: 35px;

    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;

    margin-left: 15px;
    cursor: pointer;
}
.mutualPic:hover {
    opacity: 80%;
}
.mutual {
    padding: 0px;
    margin: 0px;

    font-size: 18px;
    width: 200px;
    display: inline-block;
}
.add {
    margin: 0px;
    margin-left: 15px;
    cursor: pointer;

    padding: 15px;
    padding-left: 28px;
    padding-right: 28px;

    font-size: 20px;
    font-weight: lighter;
    background-color: rgb(0, 145, 255);
    color: white;
    border: none;
    border-radius: 8px;
}
.add:hover {
    background-color: rgb(0, 125, 220);
}
.add:active {
    opacity: 80%;
}