body {
    font-family: "Space Mono", monospace;
    color: rgb(54, 70, 54);
    font-weight: bold;

    margin-bottom: 1000px;
}
.p {
    margin-top: 25px;
    margin-bottom: 15px;
}

/* 10a. 2 columns */
.elEy {
    display: grid;
    grid-template-columns: 200px 75px;
}
.eyOne {
    background-color: aqua;
}
.eyTwo {
    background-color: cadetblue;
}

/* 10b. 3 columns */
.elBee {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
}
.beeOne {
    background-color: cadetblue;
}
.beeTwo {
    background-color: chocolate;
}
.beeThree {
    background-color: darkgreen;
}

/* 10c. 4 equal columns take up entire page */
.elSee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
}
.seeSaw {
    background-color: olive;
}

/* 10d. Recreate Facebook */
.mainFB {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    align-items: center;
}

.colBP {

    margin: 10px;
    padding: 0px;

    box-shadow: 0px 2px 8px rgba(121, 132, 136, 0.775);
}
.nini {
    width: 100%;
    height: 260px;
    object-fit: cover;

    size-adjust: 200px;
    margin: 0px;
    padding: 0px;
}
.name {
    padding: 0px;
    padding-left: 15px;

    margin: 0px;
    color: black;

    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}
.name:hover{
    color: rgb(63, 62, 62);
}
.mutualDiv {
    width: 280px;
    height: 45px;

    padding-top: 5px;
    padding-bottom: 5px;
}
.mutualPic {
    object-fit: cover;
    width: 35px;
    height: 35px;

    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;

    margin-left: 15px;
    cursor: pointer;
}
.mutualPic:hover {
    opacity: 80%;
}
.mutual {
    padding: 0px;
    margin: 0px;

    font-size: 18px;
    width: 200px;
    display: inline-block;
}
.add {
    margin: 0px;
    margin-left: 15px;
    margin-bottom: 8px;
    cursor: pointer;

    padding: 15px;
    padding-left: 28px;
    padding-right: 28px;

    font-size: 20px;
    font-weight: lighter;
    background-color: rgb(0, 145, 255);
    color: white;
    border: none;
    border-radius: 8px;
}
.add:hover {
    background-color: rgb(0, 125, 220);
}
.add:active {
    opacity: 80%;
}